<div class="">
  <div class="flex flex-row justify-content-between align-items-center text-primary">
    <div class="flex justify-content-center">
      <p-dropdown
          [options]="options"
          [(ngModel)]="selectedByDefault"
          [checkmark]="true"
          optionLabel="subtypeCode"
          (onChange)="onSelection($event)"/>
    </div>
    <div #coordinates id="coordinates"></div>
    <div #zoomlevel id="zoomlevel">Zoom: {{this.zoom()}}</div>
    <div #numericscale id="numericscale"> 1:{{ this.scale()}}</div>
  </div>
</div>
